{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>{{ button.label|default('Pay') }}</button>
    {{ form_end(form) }}
{% endblock %}
